<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
      <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
      <property name="connection.url">jdbc:oracle:thin:@
              (DESCRIPTION = 
    (CONNECT_DATA = 
      (SERVICE_NAME = XE)
    )
    (ADDRESS_LIST = 
      (ADDRESS = 
        (PROTOCOL = TCP)
        (HOST = 127.0.0.1)
        (PORT = 1521)
      )
    )
  )</property>
      <property name="connection.username">SOMKL</property>
      <property name="connection.password">123456</property>
      <property name="connection.pool_size">12</property>
      <property name="show_sql">true</property>
      <property name="dialect">org.hibernate.dialect.OracleDialect</property>
      <property name="hbm2ddl.auto">update</property>
      <property name="connection.autocommit">true</property> 
      <!-- Mapping files -->
      <!-- <mapping resource="users.hbm.xml"/> -->
      <mapping class="hu.randras.somkl.user.User" />
      <mapping class="hu.randras.somkl.user.User" />
</session-factory>
</hibernate-configuration>